.a1 {   opacity: 0.9;        border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border-radius: 25%;
} 
.card-title {
   margin-left: auto;
   border-width: 0px;
  
}
#card-img{
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
}
 .btn1{
  border-radius: 10px;
  margin-top:70px ;
} 
.interest1{
margin-top: 100px;
}
.bottom-left {
    position: absolute;
    bottom: 12px;
    left: 16px;
    color: white ;
  }
.bottom-right {
    position: absolute;
    bottom: 12px;
    right: 16px;
    color: white;
}
body{
    background: linear-gradient(100deg, #ccffff, #ffcccc);
}
/* #pqr{
    z-index: 1;
    margin-top: 30%;

}
#qwe{
    z-index: 2;
   
} */