.cat{
  margin-bottom: auto;
  font-size: 150%;
  line-height: 1;
  color:white;
  text-align: center;
}
  
  .scrolling-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
  }
    .card {
      border: 2px solid black;
      box-shadow: 10px 10px 5px 0px grey;
      width: 90%;
      height: auto;
      /* background: linear-gradient(45deg, rgba(222,255,77,1) 0%, rgba(0,128,128,1) 100%); */
      margin-top: 240px;
      margin-left: 30px;
      margin-bottom: 25px;
      margin-right: 25px;
      padding: 10% 10% 10% 10%;
      background-size: 100% 100%;
      border-radius: 12px;
  }

  
   .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
   }
    .card {
      flex: 0 0 auto;
      margin-right: 3px;
      
    }

  body{
      background: linear-gradient(100deg, #ccffff , #ffcccc);
  }
  
  