/*#tb1
{
width: auto;
        
}
#tb2{
    width: auto;
    
}*/
body {
    background: linear-gradient(100deg,  #CCFFFF #FFCCCC) ;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}
#btn1{
   margin-top: 50px;
}


#c1{
    margin: auto;
    vertical-align: middle;
}



    .container {
      max-width: 500px;
      margin: auto;
    }
    .btn1:hover{
        background-color: ;
    }
    .btn1{
        background-color: #EE4633;
                }
    .ada2{
        margin: auto;
       display: block;
    }
    .clr {
    background: linear-gradient(100deg, #CCFFFF,#FFCCCC);
   }

   /* .ax1 {
       margin: auto;
       display: block;
   } */

