/*#tb1
{
width: auto;
        
}
#tb2{
    width: auto;
    
}*/
#btn1{
   margin-top: 50px;
}


#c1{
    margin: auto;
    vertical-align: middle;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}

