/*#tb1
{
width: auto;
        
}
#tb2{
    width: auto;
    
}*/
#btn1{
   margin-top: 50px;
}


#c1{
    margin: auto;
    vertical-align: middle;
}



    .container {
      max-width: 500px;
      margin: auto;
    }
    /* .btn1:hover{
        background-color: ;
    } */
    .btn1{
        background-color: #EE4633;
                }
    .ada2{
        margin: auto;
       display: block;
    }
    .clr {
    background: linear-gradient(100deg, #CCFFFF,#FFCCCC);
   }

   .ax1 {
       /* margin-left: 20px; */
       margin-top: 60px;
   }

   .abc1 {
       margin: 3%;
       margin-left: 5%;
   }

   hr{
       color: #EE4633;
       width: 10px;
   }

   #reg_container{
       margin-top: 10%;
       max-width: 500px;
       padding: 15px;
       margin: auto;
       border-radius: 0.3em;
       /* background-color: #f2f2f2; */
   }

   .dropdown {
       position: relative;
   }

   .carousel-box{
       width: auto;
       height: 40%;
   }
   #carousel-img{
        height: 90%;
        width: auto;
   }

   /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .hamburger-icon{
    width: 10%;
    height: auto;
    
  }

  .abcd123 {
    margin: left;
    text-align: left;
    margin-left: 0px;
  }

  .xyz12 {
    margin-left: 0px;
    margin-top: 0px;
  }

  /* .x1 {
    padding-top: 0px;
  } */

  /*For The QR Code Reader*/
  /* .qrcode-text {padding-right:1.7em; margin-right:0}
.qrcode-text-btn {display:inline-block;height:1em; width:1.7em; margin-left:-1.7em; cursor:pointer}
.qrcode-text-btn > input[type=file] {position:absolute; overflow:hidden; width:1px; height:1px; opacity:0}
*/
.qrcode-text-btn {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: url(qr_icon.svg) 50% 50% no-repeat;
  cursor: pointer;
}

.qrcode-text-btn > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.art1 {
  margin-top: 70px;
}

.qrcode-text {
  padding-right: 1.7em;
  margin-right: 0;
  vertical-align: middle;
}

.qrcode-text + .qrcode-text-btn {
  width: 1.7em;
  margin-left: -1.7em;
  vertical-align: middle;
}

.down123 {
  margin-top : 50px ;
}

.xy {
  margin-left: 83%;
  margin-top:90%;
}

#acr12 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.reval{
  margin: auto;
  animation-name:abcx;
  margin-right: 40%;
  margin-top: 10%;
  animation-duration: 4s;
        animation-iteration-count: infinite;
}

@keyframes abcx {
  0% {
      transform:rotate(0deg);
      
  }
  25% {
      transform:rotate(90deg);
      /* width: 200px;
      height: 200px; */
  }
  50% {
      transform:rotate(180deg);
      /* width: 100px;
      height: 100px; */
  }
  75% {
      transform:rotate(270deg);
      /* width: 200px;
      height: 200px; */
  }
  100% {
      transform:rotate(360deg);
  }
}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


