/*#tb1
{
width: auto;
        
}
#tb2{
    width: auto;
    
}*/
#btn1{
   margin-top: 50px;
}


#c1{
    margin: auto;
    vertical-align: middle;
}



    .container {
      max-width: 500px;
      margin: auto;
    }
    /* .btn1:hover{
        background-color: ;
    } */
    .btn1{
        background-color: #EE4633;
                }
    .ada2{
        margin: auto;
       display: block;
    }
    .clr {
    background: linear-gradient(100deg, #CCFFFF,#FFCCCC);
   }

   .ax1 {
       margin-left: 150px;
       margin-top: 60px;
   }

   .abc1 {
       margin-left: 50% ;
   }

   hr{
       color: #EE4633;
       width: 10px;
   }

   #reg_container{
       margin-top: 5%;
   }

.page_title{
    size: 15%;
}