.form-control{
    /* margin-right: 150px;*/
    margin-left: 20px;
    width: 85%;

} 
.abc{
    margin-top: 40%;
}
.btn{
    margin-left: 30%;
}
.aba{
    text-align: center;
    margin-top: 20%;
}
body{
    background: linear-gradient(100deg, #ffcccc, #ccffff);
}