<html>
    <head>
      {% if title %}
      <title>{{ title }} - REVA Events</title>
      {% else %}
      <title>Welcome to REVA Events</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/abc.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/Event_Calandar1.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/master2.css') }}">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="{{ url_for('static', filename='js/abc.js') }}"></script> 
      
      
    </head>
    <body>
        <div>REVA Events: <a href="/index">Home</a></div>
        <div>REVA Events: <a href="/registrations">Registrations</a></div>
        <div>REVA Events: <a href="/login">Login</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>