{% extends "base.html" %}

{% block content %}

        <main>
               
                
                
               
                  <div class="scrolling-wrapper-flexbox">
                  <div class="card"><h2>Under 25</h2></div>
                  <div class="card"><h2>Hackfest</h2></div>
                  <div class="card"><h2>Prathibotsav</h2></div>
                  
                </div> 
                
               
           
              </main>
              {% endblock %}
