{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
    <div>
        <h2 class="new_font" style="margin-top: 30%;">Event Calendar </h2><br>
        {% for evn in events %}
        <ul>
          <li><b><h5 class="new_font">{{evn.timestamp}}</h5></b></li>
          <li><h3><a class="new_font" href="/evn_det?name={{evn.name}}&venue={{evn.venue}}&body={{evn.body}}&timestamp={{evn.timestamp}}">{{evn.name}}</a></h3>
            <br>
            <span class="new_font">{{evn.venue}}</span></a> </li>
        </ul>

        <br>
        <hr style="   
        width: 100%;
        border-style: solid;
        border-color: black;
    ">
        <br>
        {% endfor %}
    </div>
    {% endblock %}
