{% extends "base.html" %}

{% block content %}
<form onsubmit="generate();return false;">
  <div class="bgh3 invisible">
<input style="border-radius: 10px;" type="text" id="qr" name="" value="{{current_user.username}}"> 
  <button type="button" class="btn btn-primary " onclick="generate();return false;">Generate QR</button> 
  </div>
</form>

<div id="qrResult" class="fgt12" style="height: 100px;width: 100px">
<snap class="new_font" style="font-size: 20px;"><b><u>Your Ticket</u></b><snap>
<br>
<br>
</div>

<script type="text/javascript">
var qrcode=new QRCode(document.getElementById('qrResult'),{
  width:100,
  height:100
});

$(document).ready(function generate(){
var message=document.getElementById('qr');
qrcode.makeCode(message.value);
}); 


</script>

<div class="new_font" style="margin-left: 20%; margin-top: 30%; font-size:150%">
Event Name - {{event.name}}
<br><br>
Venue - {{event.venue}}
<br><br>
Date - {{event.timestamp}}
</div>

{% endblock %}