{% extends "base.html" %}

{% block content %}
<style>
    .container {
      max-width: 500px;
      margin: auto;
    }
    /* .btn1:hover{
        background-color: ;
    } */
    .btn1{
        background-color: #EE4633;
                }
    .ada2{
        margin: auto;
       display: block;
    }
   /* .ax1 {
       margin: auto;
       display: block;
   } */
    </style>
    <div class="clr" >
        <div id="ad1">
        <div class="container" id="reg_container">
                <div class="form-group "> 
                        <label for="exampleInputSRN1">SRN</label>
                        <input id="tb1" type="text" class="form-control" id="exampleInputSRN1" aria-describedby="SRNHelp" placeholder=" Enter SRN">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your SRN with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label  for="exampleInputPassword1">Password</label>
                        <input  id="tb2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>

                      <div class="dropdown" >
                        <button id="dLabel  dropdownMenu1" data-toggle="dropdown" type="button"  aria-haspopup="true" aria-expanded="false">
                          Student
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                          <li>Student</li>
                          <li>Teacher</li>
                        </ul>
                      </div>

                      <p><input  class="btn btn-primary btn1 ax1" type="submit"></p>
                    </form></div>
              </div>
            </div>
        </div>  

{% endblock %}